/* Сброс */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
} 

html, body {
    height: 100%;
    min-height: 100%;
}

button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block } 
body { line-height: 1 } 

ol, ul { list-style: none } 
blockquote, q { quotes: none } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none } 
table { border-collapse: collapse; border-spacing: 0 }

html { height: 100%; min-height: 100%; }
body { min-height: 100%; background-color: var(--color-background); }
html, html a { -webkit-font-smoothing: antialiased; }


/* Настройка основной типографии */
body, select, input, textarea, button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1em;
	color: var(--color-text);
    outline: none;
}
	a { 
		outline: none;
		color: var(--color-main);
		text-decoration: none;
    }
    
	a:hover { text-decoration: underline; }
    a:active,
    a:visited { color: var(--color-main-darker); text-decoration: none; }
	a img { border: 0 none; }
    a > img { vertical-align: bottom; }


    input { 
        width: 100%;
        padding: 0.5em 0.7em;
        border-width: 0.0625em;
        border-style: solid;
        border-color: var(--color-input);
        border-radius: 0.3125em;
    }

    input:hover {
        border-color: var(--color-hover);
    }

    button {
        padding: 0.5em 0.7em;
        border-width: 0.0625em;
        border-style: solid;
        border-color: var(--color-text);
        cursor: pointer;
    }

    button:hover {
        color: var(--color-main);
        border-color: var(--color-main);
    }

/* Настройка других элементов */
ul { padding-left: 2.5em; margin-top: 1em; margin-bottom: 1em;}
ol { padding-left: 2.5em; margin-top: 1em; margin-bottom: 1em;}
strong, b { font-weight: bold }
em, cite, i { font-style: italic }
caption { text-align: left }
th, td { vertical-align: middle }
small { font-size: .9em; }
hr { height: 0; border: 0; border-top: 0.125em solid #eeeeef; -moz-box-sizing: content-box; box-sizing: content-box; margin: 1.5em 0; }  

/* Заголовки H1-6 */
h1, h2, h3, h4, h5 {
	/*margin: 2em 0 .6em 0;*/
	letter-spacing: -0.01em;
	line-height: normal;
	font-weight: bold;
    text-rendering: optimizeLegibility;
    display: block;
}

/* Плавность */
:hover {
    -webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}

/* =============================== */
/* =============================== */
/*           FLEX                  */
/* =============================== */
/* =============================== */

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}
    .cell {
        display: block;
        flex-basis: var(--scale-value);
    }